.activity {
    position: relative;
    z-index: -1;
    margin-right: 2em;
    width:auto;
}
.activity > .recharts-wrapper {
    padding-top: 2.5em;
    background-color: #FBFBFB;
    margin: 2em 2em 0em 2em;
    border-radius: 6px;
}
.activity > .recharts-wrapper > svg.recharts-surface{
    margin-left: 2em;
    width: auto;
}

.activity > .recharts-wrapper > .recharts-legend-wrapper {
    padding-top: 1em;
}
.activity > .recharts-wrapper > .recharts-legend-wrapper > ul {
    opacity: 0.6;
    font-weight: 600;
    padding-top: 1em;
}
.activity > .recharts-wrapper > .recharts-legend-wrapper > ul > li > span.recharts-legend-item-text{
    color: black !important;
}

.activity p {
    margin-bottom: -3.2em;
    font-weight: 600;
    margin-left: 4em;
    position:absolute;
    z-index: 1;
}

.tooltip {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 1em;
}

.tooltip p {
    color: white;
    font-size: 8px;
    padding: 4px 4px 6px 6px;
    text-align: center; 
}
line.recharts-cartesian-axis-line {
    color: black;
}


