.inconsidebar-wrapper {
    height: 1028px;
}
.calories-wrapper {
    display: flex;
    background-color: #FBFBFB;
    justify-content: space-evenly;
    margin: 2em 2em 3.3em 2em;
    padding: 1em;
    width: 16em;
    border-radius: 6px;
}

.calories-count h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0em;
}
.calories-count p {
    margin-top: 0.5em;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.5;
}