.sessions-performance-score {
    display: flex;
    align-items: center;
}
.user-all-activity {
    width: auto;
    margin-left: 6em;
}
.info-wrapper {
    display: flex;
    align-items: stretch;
    margin-top: 0px;
}
.recharts-graphs {
    margin-left: 2em;
}