.welcome {
    margin-left: 4em;
    margin-top: 0.5em;
}

.welcome span {
    color: #FF0000;
}

.welcome h1 {
    font-size: 38px; 
    font-weight: 600;
    margin-bottom: 0px;
}
.welcome p {
    margin-bottom: 0px;
}